<h2> Game Name</h2>
<%= @game.name %>



<h2>Players information</h2>
<div class="lists">
<%= render :partial => "players/index" %>
</div>


<div class="player_edit">
<h2>Add Player </h2>
<%= render :partial => "players/form" %>
</div>

<%= link_to "Back", games_path, :class => "btn btn-default" %>    




